.image_block{
    width: 500px;
    height: 500px;
    position: relative;
}
.image_block .image_content{
    width: 100%;
    height: 100%;
}
.image_block .background_black{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s;
}

.image_block:hover .background_black{
    opacity: 1;
}

.image_block .background_white{
    background-color:  rgb(83, 83, 83);
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 0;
    transition: 0.4s;
}

.image_block:hover .background_white{
    opacity: 1;
}

.image_block .bigtext{
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 10%;
    left: 20%;
    opacity: 0;
    transition: 0.4s;
}

.image_block:hover .bigtext{
    opacity: 1;
}

.image_block .smalltext{
    font-style: italic;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 20%;
    opacity: 0;
    transition: 0.4s;
}

.image_block:hover .smalltext{
    opacity: 1;
}

*{
    margin: 0;
    padding: 0;
}

.bo{
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.bo .anh{
    width: 100%;
    height: 100%;
}
.bo .xam{
    position: absolute;
    background-color: rgb(83, 83, 83);
    transition: 0.4s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: 0px black solid;
    box-sizing: border-box;
}
.bo:hover .xam{
    opacity: 1;
    border: 20px black solid;
}
.bo .chu{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 15%;
    left: 15%;
    opacity: 0;
}
.bo:hover .chu{
    opacity: 1;
}
.bo .chu h3{}
.bo .chu p{}