*{
    margin: 0;
    padding: 0;
}
.container{
    width: 900px;
    height: 300px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
.bo{
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.bo .anh{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
    transform-origin: 50% 20%;
}
.bo .nen{
    width: 400px;
    height: 300px;
    background-color: #2C3F52;
}
.bo:hover .anh{
    transform: scale(0.5);
}
.bo .content{
    display: flex;
}
.bo .content .chu{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 25px;
    bottom: 25px;
    opacity: 0;
}
.bo:hover .content .chu{
    opacity: 1;
}
.bo .chu .bigtext{
    color: white;
}
.bo .chu .smalltext{
    color: #BB4B6E;
}
.bo .content .buttontype{
    position: absolute;
    right: 25px;
    bottom: 25px;
    color: white;
    background: #ED4E6E;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5%;
    opacity: 0;
}
.bo:hover .content .buttontype{
    opacity: 1;
}