*{
    margin: 0;
    padding: 0;
}

a{
    position: relative;
    text-decoration: none;
    color: black;
    display: inline-block;
}
a span{}

a div{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: 0.4s;
}

a:hover div{
    width: 100%;
}